* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  background-color: #283618;
}

.outercell {
    /* background-color: purple; */
background-color: #606c38;
    width: 400px;
    height: 80vh;
    margin-top: 10vh;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.container{
    
    height: calc(80vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

p {
    
    width: 400px;
    height: 50px;
    color: white;
    background-color: aquamarine;
    text-align: center;
    line-height: 50px;
    font-family: sans-serif;
    -webkit-text-stroke: 1px #528ab7;
    font-size: 30px;
    border-radius: 10px 10px 0 0;
}

.head-content {
     text-align: center; 
    }

.new-btn {
    height: 40px;
    width: 100px;
    color: white;
    background-color: rgb(206, 94, 206, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

.x-style {
    color: blue;
    font-size: 20px;
    -webkit-text-stroke: 1px blue;

}

.o-style {
    color: red;
    font-size: 20px;
    -webkit-text-stroke: 1px red;

}

.button-box {
    display: flex;
    flex-wrap: wrap;
    width: 165px;
    gap: 5px;

}

.box {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: #dda15e;
    border: 1px solid #bc6c25;

}

.reset-btn {
    
    height: 40px;
    width: 120px;
    background-color: rgb(206, 94, 206, 0.1);
    border-radius: 5px;
    color: white;
}
